<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>
<body>

<div class="container" th:fragment="nav">
  <header>
    <div class="top-bar">
      <img src="/imgs/logo.png" alt="">&nbsp;&nbsp;&nbsp;
      <span>ZILLA PANCHAYATH<br>BALLARI</span>
      <div class="logout-btn">
        <a class="logout-btn" th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </header>
  <aside class="sidebar">
    <nav>
      <ul>
        <a href="/index"><li><span>Home</span></li></a>
        <a href="/routine"><li><span>Routine Inspections</span></li></a>
        <a href="/adhoc"><li><span>Ad-Hoc</span></li></a>
        <a href="/grevience"><li><span>Grievance</span></li></a>
        <a href="/administration"><li><span>Administration</span></li></a>
<!--        <a th:href="@{/logout}"><li><span>Logout</span></li></a>-->

      </ul>
    </nav>
  </aside>
</div>




</body>
</html>