<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container" th:fragment="nav">
  <header>
    <div class="top-bar">
      <img src="/imgs/logo.png" alt="">&nbsp;&nbsp;&nbsp;
      <span>ZILLA PANCHAYATH<br>BALLARI</span>
      <div class="logout-btn">
        <a href="/"><button>Logout</button></a>
      </div>
    </div>
  </header>
  <aside class="sidebar">
    <nav>
      <ul>
        <a href="/index"><li><span>Home</span></li></a>
        <a href="/department"><li><span>Department</span></li></a>
        <a href="/officer"><li><span>Officers</span></li></a>
        <a href="/routineinsp"><li><span>Routine Inspections</span></li></a>

        <a href="/inspection"><li><span>Inspections</span></li></a>
        <a href="/assignment"><li><span>Assign Officer</span></li></a>
        <a href="/report"><li><span>Report</span></li></a>
        <a href="/administration"><li><span>Administration</span></li></a>
      </ul>
    </nav>
  </aside>
</div>


</body>
</html>