.alert-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 9999;
  font-size: 15px;
  font-weight:10px ;
}

/* CSS style for the alert message */
.alert-message {
  margin-bottom: 10px;
}


/* CSS style for the OK button */
.alert-button-ok {
 padding: 5px 10px ;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

/* CSS style for the OK button hover effect */
.alert-button-ok:hover {
  background-color: #45a049;
}

/* CSS style for the Cancel button */
.alert-button-cancel {
  padding: 5px 10px;
  background-color: #f44336;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* CSS style for the Cancel button hover effect */
.alert-button-cancel:hover {
  background-color:#d32f2f;}