*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
html,body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    text-align: center;
    background: #ecf0f3;
}
.content{
    width: 330px;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1 ;
}

.content P{
    font-size: 20px;
    font-weight: 40;
    color: black;
    margin-bottom: 10px;
}
.content  img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px #5f5f5f,
    inset 0px 0px 0px 5px #ecf0f3,
    inset 8px 15px #a7aaa7,
    inset -8px -8px 15px #ffffff;
    margin-bottom: 10px;
}
.content .field{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
.wrapper{
    position: relative;
    padding: 0;
}
.wrapper input{
    padding: 13px;
    outline: none;
    font-size: 16px;
    color: rgb(71, 78, 15);
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    margin-inline-start: 15px;
    margin-top: 20px;
    width: 90%;
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1 ;
}
.wrapper label {
    position: absolute;
    top: 63%;
    left: 10%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.5s;
}
.wrapper input:focus ~ label,
.wrapper input:valid ~ label{
    top: 30%;
    color: #333;
    background:#f1f1f1;
    font-size: 13px;
}
.pass{
    text-align: left;
    margin: 10px 0 10px 5px;
}
.pass a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.pass:hover a{
    text-decoration: underline;
}

.login-btn {
    padding: 10px;
    padding-left: 100px;
    padding-right:100px ;
    background-color: black;
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
}
#login
{
    margin-top: 25px;

}
