<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

  <main>

    <div class="grid" id="saveDeptbody">
        <div class="wrapper">
            <input type="text" id="DeptName" required>
            <label >Department Name</label>
        </div>
    </div>
        <div class="btn">
            <button onclick="saveDept()" class="submit-btn">Add</button>
            <button class="cancel-btn">Cancel</button>
        </div>
      <div class="alert-container" id="alertContainer">
          <div class="alert-message">
              Added Data Successfully!
              <button class="alert-button-ok" onclick="hideAlert()">OK</button>
              <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
          </div>
      </div>
   <div id="tablelist">
    <div class="table-name">

      <h2>Department List</h2>
     </div>
          <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>Department Name</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                  <tbody id="deptList">
                  </tbody>

              </table>
            </div>
   </div>
  </main>


    <script>

    $(document).ready(function() {

            $("#tablelist").show();
            $("#saveDeptbody").show();

        var deptList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/department/getAllDept",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               deptList += '<tr id="' + data[i].deptId + '">'; // Add ID attribute

               deptList=deptList+' <td>'+data[i].deptName +'</td>';
               deptList=deptList+' <td>';
               deptList=deptList+'<a href="javascript:getProfile(\''+data[i].deptId+'\')" title="Edit">';
               deptList=deptList+'<i>&#9997;&#xFE0E;</i> </a>';
               deptList=deptList+'<a href="javascript:deleteDept(\''+data[i].deptId+'\')" title="Delete">';
               deptList=deptList+'<i>&#x1F441;</i> </a>';
               deptList=deptList+'</td></tr>';

               }
                $("#deptList").html(deptList);
            }
        });
      });

        function saveDept() {
            var deptName = $("#DeptName").val().trim(); // Trim any leading/trailing whitespace

            if (deptName !== "") {
                var userData = {
                    deptName: deptName,
                };

                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/department/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
                        console.log(xhr.responseText);
                    }
                });

                showAlert();
            } else {
                alert("Please fill all the required fields");
            }
        }


      function deleteDept(id) {
            if (confirm("Are you sure you want to delete this Department?")) {
                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/department/delete/" + id, // Use the delete endpoint with the deptId
                    type: "DELETE",
                    success: function () {
                        // Remove the deleted row from the displayed table
                        $("#" + id).remove();
                        alert("Department deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Failed to delete Department: " + error);
                    },
                });
            }
        }


	</script>

</body>
</html>
