<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/routine.css">
  <link rel="stylesheet" href="/css/alert.css">
  <script src="/script/alert.js"></script>
  <script src="/script/dynamic_fields.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div th:replace="~{fragment/nav :: nav}"> </div>
    <main>
      <div class="grid">
        <div class="wrapper">
          <input type="text" id="TempName" required>
          <label>Templet Name</label>
        </div>
        <div class="wrapper">
          <select name="" id="TempLevel">
            <option value="Select Level">Select Level</option>
            <option value="District">District</option>
            <option value="Taluk">Taluk</option>
          </select>
        </div>
      </div>

      <div id="inputContainer" class="input-container">
      </div>
      <button id="addButton">Add Input Field</button>

      <div class="btn">
        <button onclick="saveTemplet()" class="submit-btn">Add</button>
        <button class="cancel-btn">Cancel</button>
      </div>
      <div class="alert-container" id="alertContainer">
        <div class="alert-message">
          Added Data Successfully!
          <button class="alert-button-ok" onclick="hideAlert()">OK</button>
          <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
        </div>
      </div>
    </main>
</body>
<script>

     function saveTemplet() {
            const userData = {
                tempName: $("#TempName").val(),
                tempLevel: $("#TempLevel").val(),
                tempDiscription: [],

            };

            // Get all dynamically generated input fields with their tempAns values
               $("#inputContainer").find(".input-container").each(function() {
                const tempContent = $(this).find("input[type='text']").val();
                const imgReqCheckbox = $(this).find("input[type='checkbox']");

                // Determine the value for imgReq based on checkbox status
                const imgReqValue = imgReqCheckbox.is(":checked") ? "Yes" : "No";

                // Create an object for each tempContent and imgReq
                const tempObject = {
                    tempContent: tempContent,
                    imgReq: imgReqValue
                };

                // Push the object to the tempDiscription array
                userData.tempDiscription.push(tempObject);
            });



            $.ajax({
                contentType: "application/json;charset=UTF-8",
                url: "/api/quetemplet/save",
                dataType: "json",
                type: "POST",
                cache: !1,
                processData: !1,
                data: JSON.stringify(userData),
                success: function(response) {
                    console.log(response); // If needed, handle the response from the server
                },
                error: function(error) {
                    console.error("error"); // If needed, handle the error from the server
                }
            });

            showAlert();
        }

</script>
</html>