<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

</head>

<body>
<div th:replace="~{fragment/nav :: nav}"> </div>
  <main>
      <h2>Taluk Section</h2>

      <div class="grid">

        <div class="wrapper">
            <input type="text" id="TalukName" required>
            <label>Taluk</label>
        </div>
    </div>
      <div>
          <button class="submit-btn" onclick="saveTaluk()">Add </button>
      </div>

      <div class="alert-container" id="alertContainer">
          <div class="alert-message">
              Added Data Successfully!
              <button class="alert-button-ok" onclick="hideAlert()">OK</button>
              <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
          </div>
      </div>
        <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Taluk name</th>
                    <th>District</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody id="talukList">

              </tbody>
            </table>
          </div>
  </main>
<script>

$(document).ready(function() {

<!--userDistrict start-->
            $.ajax({
                type: "GET",
                url: "/session/getUserDist",
                success: function (data) {
                    // Display the district result in the div
<!--                    console.log(data)-->
                    $("#districtResult").val(data);

                },
                error: function (error) {
                    console.error("Error fetching user district:", error);
                }
            });
<!--userDistrict End-->




<!--UserSesssion name start-->

        $.ajax({
            type: "GET",
            url: "/session/session_user",
            dataType: "text",
            success: function(response) {
                if (response) {
                    var username = response;
<!--                    console.log("Username: " + username);-->

                    $("#usernameElement").val(username);
                } else {
                    console.log("Username not found in the response.");
                }
            },
            error: function(error) {
                console.error("Error fetching username:", error);
            }
        });


<!--USerSession name End-->




            $("#tablelist").show();
            $("#saveTalukbody").show();

        var talukList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/taluk/getAllTaluk",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               talukList += '<tr id="' + data[i].talukId + '">'; // Add ID attribute

               talukList=talukList+' <td>'+data[i].talukName +'</td>';
               talukList=talukList+' <td>'+data[i].district.districtName  +'</td>';

               talukList=talukList+' <td>';
               talukList=talukList+'<a href="javascript:deleteTaluk(\''+data[i].talukId+'\')" title="Delete">';
               talukList=talukList+'<b style="color:#FF0000">&#x1F5D1;</b> </a>';
               talukList=talukList+'</td></tr>';

               }
                $("#talukList").html(talukList);
            }
        });
      });


      function saveTaluk() {

            var talukName = $("#TalukName").val();
            var districtId = $("#districtResult").val();
            var createdBy = $("#usernameElement").val();



            if (talukName && districtId) {
                var timestamp = new Date().getTime();

                var userData = {
                    talukName: talukName,
                    district: {
                         districtId: districtId
                    },
                    createdAt: timestamp,
                    createdBy:createdBy



                }

                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/taluk/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
<!--                        console.log(xhr)-->
                    }
                });
                showAlert();
            } else {
                alert("Please fill all the required fields");
            }
        }

        function deleteTaluk(id) {
            if (confirm("Are you sure you want to delete this Taluk?")) {
                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/taluk/delete/" + id, // Use the delete endpoint with the talukId
                    type: "DELETE",
                    success: function () {
                        // Remove the deleted row from the displayed table
                        $("#" + id).remove();
                        alert("Taluk deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Failed to delete Taluk: " + error);
                    },
                });
            }
        }





</script>
</body>
</html>