<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NIC</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

<main>
    <div id="tablelist">
        <div class="table-name">
            <h2>AdHoc Assignment</h2>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>LastDate</th>
                    <th>Officer Assigned</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="assignList">

                </tbody>
            </table>
        </div>
    </div>

    <div id="assignment">
        <div class="table-container">
            <table>
                <tr>
                    <th class="assign-head">Inspection ID</th>
                    <td id="AdhocInspIdSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Taluk</th>
                    <td id="AdhocTalukSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Department</th>
                    <td id="AdhocDepartmentSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Description</th>
                    <td id="AdhocDescriptionSing"></td>
                </tr>
            </table>
        </div>
        <div class="grid">
            <div class="wrapper">
                <select  id="officerDrop" ></select>
            </div>
            <div class="wrapper" >
                <input type="date" id="AdhoclastDate" >
                <label>Due date</label>
            </div>
        </div>
        <div class="btn">
            <button class="submit-btn" onclick="updateAdhocAssignment()">Assign</button>
            <button class="cancel-btn">Cancel</button>
        </div>
        <div class="alert-container" id="alertContainer">
            <div class="alert-message">
                Assigned Officer Successfully!
                <button class="alert-button-ok" onclick="hideAlert()">OK</button>
                <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
            </div>
        </div>
    </div>
</main>

<script>

    $(document).ready(function() {

    <!--        Officer dropdown list start-->

       $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/officer/getAllOfficer",
           dataType: "json",
           async:false,
           success: function (officerData) {
               var s = '<option value="-1">Select Officer</option>';
               for (var i = 0; i < officerData.length; i++) {
                   s += '<option value="' + officerData[i].officerName + '">' + officerData[i].officerName + '</option>';
               }
               $("#officerDrop").html(s); // Updated ID here
           }
        });


    <!--        Officer dropdown list end-->


        $("#tablelist").show();
        $("#assignment").hide();

        var assignList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/adhoc/getAllAdhoc",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               assignList += '<tr id="' + data[i].adhocinspId + '">'; // Add ID attribute
               assignList=assignList+' <td>'+data[i].adhocdepartment +'</td>';

               assignList=assignList+' <td>'+data[i].designation +'</td>';

               if(data[i].adhoclastDate==null)
               {
               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getProfile(\''+data[i].adhocinspId+'\')" title="Assign">';
               assignList=assignList+'<p style="font-size:15px;">Not assigned</p>';
               }
               else{
               assignList=assignList+' <td>'+data[i].adhoclastDate +'</td>'

               }

               if(data[i].adhocassignedOfficer==null)
               {
               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getAdhocInsp(\''+data[i].adhocinspId+'\')" title="Assign">';
               assignList=assignList+'<button class="btn" id="tablelist">Assign</button></a>';
               }
               else{
                assignList=assignList+' <td>'+data[i].adhocassignedOfficer +'</td>';
               }

               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getAdhocInsp(\''+data[i].adhocinspId+'\')" title="Edit">';
               assignList=assignList+'<i>&#9997;&#xFE0E;</i> </a>';
               assignList=assignList+'<a href="javascript:deleteAdhocInsp(\''+data[i].adhocinspId+'\')" title="Delete">';
               assignList=assignList+'<b style="color:#FF0000">&#x1F5D1;</b> </a>';
               assignList=assignList+'</td></tr>';

               }
                $("#assignList").html(assignList);
            }
        });
    });

     function updateAdhocAssignment() {
        var adhocinspId = $("#AdhocInspIdSing").text(); // Get the adhocinspId from the displayed table
        var adhocassignedOfficer = $("#officerDrop").val();
        var adhoclastDate = $("#AdhoclastDate").val();
        var adhocdepartment = $("#AdhocDepartmentSing").text();
        var adhoctaluk = $("#AdhocTalukSing").text();

        if (adhocassignedOfficer && adhoclastDate) {
            var userData = {
                adhocassignedOfficer: adhocassignedOfficer,
                adhoclastDate: adhoclastDate,
                adhocdepartment: adhocdepartment,
                adhoctaluk: adhoctaluk,
            };

            $.ajax({
                contentType: "application/json;charset=UTF-8",
                url: "/api/adhoc/update/" + adhocinspId, // Use the update endpoint with the adhocinspId
                dataType: "json",
                type: "PUT", // Use PUT method for update
                data: JSON.stringify(userData),
                success: function (data) {
                    // Update the displayed table with the updated data
                    $("#adhocassignedOfficerCell").text(data.adhocassignedOfficer);
                    $("#adhoclastDateCell").text(data.adhoclastDate);
                    $("#adhocdepartmentCell").text(data.adhocdepartment);
                    $("#adhoctalukCell").text(data.adhoctaluk);
                },
            });
            showAlert();
            } else {
                alert("Please fill all the required fields");
            }
        }


        function getadhocinspId(id){
                 $.ajax({
                       contentType: "application/json;charset=UTF-8",
                       url: "${pageContext.request.contextPath}api/routinsp/getById/" + id,
                       dataType: "json",
                       type: "GET",
                       success:function(data){
                          getProfile(data)

                       }
                  });
            }


        function getAdhocInsp(id) {
            $("#tablelist").hide();
            $("#assignment").show();

            $.ajax({
                contentType: "application/json;charset=UTF-8",
                url: "/api/adhoc/getById/" + id,
                dataType: "json",
                type: "GET",
                cache: !1,
                processData: !1,
                success: function(data) {

                    $("#AdhocInspIdSing").text(data.adhocinspId);
                    $("#AdhocDepartmentSing").text(data.adhocdepartment);
                    $("#AdhocDescriptionSing").text(data.adhocdescription);
                    $("#AdhocLastDateSing").text(data.adhoclastDate);
                    $("#AdhocroutassignedOfficerSing").text(data.adhocassignedOfficer);
                    $("#AdhocDistrictSing").text(data.district);
                    $("#AdhocTalukSing").text(data.adhoctaluk);

                    var descriptionHtml = '';
                    for (var i = 0; i < data.adhocdescription.length; i++) {
                        descriptionHtml += data.adhocdescription[i].adhocInspContent + '<br>';
                    }
                    $("#AdhocDescriptionSing").html(descriptionHtml);

                }
            });
        }

         function deleteAdhocInsp(id) {
            if (confirm("Are you sure you want to delete this inspection?")) {
                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/adhoc/delete/" + id, // Use the delete endpoint with the InspId
                    type: "DELETE",
                    success: function () {
                        // Remove the deleted row from the displayed table
                        $("#" + id).remove();
                        alert("Inspection deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Failed to delete inspection: " + error);
                    },
                });
            }
        }

<!--            $.ajax({-->
<!--            contentType: "application/json;charset=UTF-8",-->
<!--            url: "/api/taluk/getAllTaluk",-->
<!--            dataType: "json",-->
<!--            type: "GET",-->
<!--            success: function(data) {-->

<!--                $("#RoutDistrictSing").text(data.district);-->
<!--            }-->
<!--        });-->

</script>
</body>
</html>