<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

  <main>

    <div class="grid" id="saveDeptbody">
        <div class="wrapper">
            <input type="text" id="DeptName" required>
            <label >Department Name</label>
        </div>
    </div>
        <div class="btn">
            <button onclick="saveDept()" class="submit-btn">Set</button>
            <button class="cancel-btn">Cancel</button>
        </div>
      <div class="alert-container" id="alertContainer">
          <div class="alert-message">
              Submitted Successfully!
          </div>
          <button class="alert-button-ok" onclick="hideAlert()">OK</button>
          <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
          </div>
   <div id="tablelist">
    <div class="table-name">

      <h1>Department List</h1>
     </div>
          <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Department Name</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                  <tbody id="infraList">
                  </tbody>

              </table>
            </div>
   </div>
  </main>


    <script>

    $(document).ready(function() {

            $("#tablelist").show();
            $("#saveDeptbody").show();

        var infraList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/department/getAllDept",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               infraList=infraList+'<tr>';
               infraList=infraList+' <td>'+data[i].deptId +'</td>';
               infraList=infraList+' <td>'+data[i].deptName +'</td>';

               infraList=infraList+' <td>';
               infraList=infraList+'<a href="javascript:getProfile(\''+data[i].id+'\')" title="Edit">';
               infraList=infraList+'<i>&#9997;&#xFE0E;</i> </a>';
               infraList=infraList+'<a href="javascript:deleteProfile(\''+data[i].id+'\')" title="Delete">';
               infraList=infraList+'<i>&#x1F441;</i> </a>';
               infraList=infraList+'</td></tr>';

               }
                $("#infraList").html(infraList);
            }
        });
      });

        function saveDept(){

                        var userData={


                        deptName:$("#DeptName").val(),

                    }

                        $.ajax({
                        contentType: "application/json;charset=UTF-8",
                        url: "/api/department/save",
                        dataType: "json",
                        type: "POST",
                        cache: !1,
                        processData: !1,
                        data: JSON.stringify(userData),
                        complete:function(xhr) {
                        console.log(data)

                        }

                 });
                 showAlert()

      }

      function addDepartment(){

            $("#tablelist").hide();
            $("#saveDeptbody").show();


      }


    function showAlert() {
      var alertContainer = document.getElementById('alertContainer');
      alertContainer.style.display = 'block';

    }

    function hideAlert() {
      location.reload();
      var alertContainer = document.getElementById('alertContainer');
      alertContainer.style.display = 'none';
    }



	</script>

</body>
</html>
