<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<div th:replace="~{fragment/nav :: nav}"> </div>


  <main>
    <div class="card-container">
      <div class="card" >
        <div class="card-content">
          <div class="number" id="inspectionCount">Loading...</div>
          <div class="card-name">Routine Inspections</div>
        </div>
      </div>
      <div class="card" >
        <div class="card-content">
          <div class="number" id="adhocCount">Loading...</div>
          <div class="card-name">Ad-Hoc Inspections</div>
        </div>
      </div>
      <div class="card" >
        <div class="card-content">
          <div class="number" id="grevienceCount">Loading..</div>
          <div class="card-name">Grevience Inspections</div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="number"></div>
          <div class="card-name"></div>
        </div>
      </div>
    </div>
  </main>

  <script>
        $(document).ready(function() {

            // Rountine inspection count
            $.ajax({
                url: '/api/routinsp/count',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
<!--                    console.log('Success', data);-->

                    $('#inspectionCount').text(data);
                },
                error: function() {
                    $('#inspectionCount').text('Error fetching count');
                }
            });

            // Ad-Hoc inspection count

            $.ajax({
                url: '/api/adhoc/count',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
<!--                    console.log('Success', data);-->

                    $('#adhocCount').text(data);
                },
                error: function() {
                    $('#adhocCount').text('Error fetching count');
                }
            });


            // Grevieance inspection count
            $.ajax({
                url: '/api/inspection/count',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
<!--                    console.log('Success', data);-->

                    $('#grevienceCount').text(data);
                },
                error: function() {
                    $('#grevienceCount').text('Error fetching count');
                }
            });



        });
  </script>
</body>
</html>
