<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

  <main>
      <div class="grid">
          <div class="wrapper">
              <select  id="talukDrop" ></select>
          </div>
          <div class="wrapper">
              <select  id="deptDrop" ></select>
          </div>
      </div>
      <div class="wrapper">
          <textarea name="" id="Description" cols="30" rows="10" placeholder="Enter the description"></textarea>
      </div>
      <div>
          <button onclick="saveInspection()" class="submit-btn">Add</button>
          <button class="cancel-btn">Cancel</button>
      </div>
      <div class="alert-container" id="alertContainer">
          <div class="alert-message">
              Added Data Successfully!
              <button class="alert-button-ok" onclick="hideAlert()">OK</button>
              <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
          </div>
      </div>
  <div class="table-name">
    <h2>Inspection list</h2>
   </div>
        <div class="table-container">
            
            <table>
              <thead>
                <tr>
                    <th>Description</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody id="inspList">

              </tbody>
            </table>
          </div>

  </main>
<script>

    $(document).ready(function() {


<!--        Taluk dropdown list start-->


       $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/taluk/getAllTaluk",
           dataType: "json",
           async:false,
           success: function (talukData) {
               var s = '<option value="-1">Select Taluk</option>';
               for (var i = 0; i < talukData.length; i++) {
                   s += '<option value="' + talukData[i].talukName + '">' + talukData[i].talukName + '</option>';
               }
               $("#talukDrop").html(s); // Updated ID here
           }
        });


<!--        Taluk dropdown list end-->

<!--        Department dropdown list start-->


        $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/department/getAllDept",
           dataType: "json",
           async:false,
           success: function (deptdata) {
               var s = '<option value="-1">Select Department</option>';
               for (var i = 0; i < deptdata.length; i++) {
                   s += '<option value="' + deptdata[i].deptName + '">' + deptdata[i].deptName + '</option>';
               }
               $("#deptDrop").html(s);
           }
       });


<!--        Department dropdown list end-->

            $("#tablelist").show();
            $("#saveInspbody").show();

        var inspList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/inspection/getAllInsp",
            dataType: "json",
            type: "GET",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               inspList += '<tr id="' + data[i].inspId + '">'; // Add ID attribute

               inspList=inspList+' <td>'+data[i].description +'</td>';
               inspList=inspList+' <td>'+data[i].department +'</td>'



               inspList=inspList+' <td>';
               inspList=inspList+'<a href="javascript:getProfile(\''+data[i].inspId+'\')" title="Edit">';
               inspList=inspList+'<i>&#9997;&#xFE0E;</i> </a>';
               inspList=inspList+'<a href="javascript:deleteInsp(\''+data[i].inspId+'\')" title="Delete">';
               inspList=inspList+'<b style="color:#FF0000">&#x1F5D1;</b> </a>';
               inspList=inspList+'</td></tr>';

               }
                $("#inspList").html(inspList);
            }
        });
      });


      function saveInspection() {

            var taluk = $("#talukDrop").val();
            var department = $("#deptDrop").val();
            var description = $("#Description").val();

            if (taluk && department && description) {
                var userData = {
                    taluk: taluk,
                    department: department,
                    description: description,

                }

                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/inspection/save",
                    dataType: "json",
                    type: "POST",
                    cache: !1,
                    processData: !1,
                    data: JSON.stringify(userData),
                    complete: function(xhr) {
                        console.log(data)
                    }
                });
                showAlert();
            } else {
                alert("Please fill all the required fields");
            }

        }

        function deleteInsp(id) {
            if (confirm("Are you sure you want to delete this Inspection?")) {
                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/inspection/delete/" + id, // Use the delete endpoint with the InspId
                    type: "DELETE",
                    success: function () {
                        // Remove the deleted row from the displayed table
                        $("#" + id).remove();
                        alert("Inspection deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Failed to delete inspection: " + error);
                    },
                });
            }
        }


	</script>
</body>
</html>
