<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>NIC</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/table.css">
 <script src="script/script.js"></script>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

  <main>
    <div class="grid">
        <div class="wrapper">
            <input type="text" required>
            <label for="Name">Inspection Code</label>
        </div>
        <div class="wrapper">
            <input type="text" required>
            <label for="Name">Taluk</label>
        </div>
        <div class="wrapper">
            <input type="tel" required>
            <label for="Name">Department</label>
        </div>
        <div class="wrapper">
            <input type="text" required>
            <label for="Name">Description</label>
        </div>
        <div class="wrapper">
            <input type="text" required>
            <label for="Name">Last date</label>
        </div>
        <div class="wrapper">
            <input type="text" required>
            <label for="Name">Officer assignment</label>
        </div>
  </div>
  <div>
    <button class="submit-btn">Submit</button>
    <button class="cancel-btn">Cancel</button>
  </div>
  <div class="table-name">
    <h1>Inspection list</h1>
   </div>
        <div class="table-container">
            
            <table>
              <thead>
                <tr>
                  <th>Inspection Code</th>
                  <th>Officer assigned</th>
                  <th>Department</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>25</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>30</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mike</td>
                  <td>35</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>25</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>30</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mike</td>
                  <td>35</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>25</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>30</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mike</td>
                  <td>35</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>25</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>30</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mike</td>
                  <td>35</td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>

  </main>
</body>
</html>
