<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NIC</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

  <main>
      <div class="grid" id="saveOffbody">
          <div class="wrapper">
              <input type="text" id="OfficerName" required>
              <label>Officer Name</label>
          </div>
          <div class="wrapper">
              <input type="tel" id="OfficerMob" required>
              <label>Mobile number</label>
          </div>
          <div class="wrapper">
              <select  id="talukDrop" ></select>
          </div>
          <div class="wrapper" >
              <select  id="deptDrop" ></select>
          </div>
          <div class="wrapper">
              <input type="text" id="Designation" required>
              <label>Designation</label>
          </div>
      </div>
      <div>
          <button onclick="saveOfficer()" class="submit-btn">Add</button>
          <button class="cancel-btn">Cancel</button>
      </div>
      <div class="alert-container" id="alertContainer">
          <div class="alert-message">
              Added Data Successfully!
              <button class="alert-button-ok" onclick="hideAlert()">OK</button>
              <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
          </div>
      </div>

  <div id="tablelist">
  <div class="table-name">
    <h2>Officers list</h2>
   </div>
        <div class="table-container">
            <table>
              <thead>
                <tr>
                    <th>Office Name</th>
                    <th>Officer Department</th>
                    <th>Officer Mobile</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody id="officerList">

              </tbody>
            </table>
          </div>
  </div>
  </main>



<script>

    $(document).ready(function() {


<!--        Department dropdown list start-->


        $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/department/getAllDept",
           dataType: "json",
           async:false,
           success: function (deptdata) {
               var s = '<option value="-1">Select Department</option>';
               for (var i = 0; i < deptdata.length; i++) {
                   s += '<option value="' + deptdata[i].deptName + '">' + deptdata[i].deptName + '</option>';
               }
               $("#deptDrop").html(s);
           }
       });


<!--        Department dropdown list end-->


<!--        Taluk dropdown list start-->

       $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/taluk/getAllTaluk",
           dataType: "json",
           async:false,
           success: function (talukData) {
               var s = '<option value="-1">Select Taluk</option>';
               for (var i = 0; i < talukData.length; i++) {
                   s += '<option value="' + talukData[i].talukName + '">' + talukData[i].talukName + '</option>';
               }
               $("#talukDrop").html(s); // Updated ID here
           }
        });


<!--        Taluk dropdown list end-->



            $("#tablelist").show();
            $("#saveOffbody").show();

        var officerList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/officer/getAllOfficer",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               officerList=officerList+'<tr>';

               officerList=officerList+' <td>'+data[i].officerName +'</td>';
               officerList=officerList+' <td>'+data[i].officerDept +'</td>';
               officerList=officerList+' <td>'+data[i].officerMob +'</td>';

               officerList=officerList+' <td>';
               officerList=officerList+'<a href="javascript:getProfile(\''+data[i].id+'\')" title="Edit">';
               officerList=officerList+'<i>&#9997;&#xFE0E;</i> </a>';
               officerList=officerList+'<a href="javascript:deleteProfile(\''+data[i].id+'\')" title="Delete">';
               officerList=officerList+'<i>&#x1F441;</i> </a>';
               officerList=officerList+'</td></tr>';

               }
                $("#officerList").html(officerList);
            }
        });
      });

        function saveOfficer(){

                        var userData={


                        officerName:$("#OfficerName").val(),
                        officerMob:$("#OfficerMob").val(),
                        officerDept:$("#deptDrop").val(),
                        designation:$("#Designation").val(),
                        taluk:$("#talukDrop").val(),

                    }

                        $.ajax({
                        contentType: "application/json;charset=UTF-8",
                        url: "/api/officer/save",
                        dataType: "json",
                        type: "POST",
                        cache: !1,
                        processData: !1,
                        data: JSON.stringify(userData),
                        complete:function(xhr) {
                        console.log(data)

                        }
                 });
                 showAlert()
      }

      function addOfficer(){

            $("#tablelist").hide();
            $("#saveOffbody").show();


      }

	</script>
</body>
</html>
