<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NIC</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/alert.css">
    <script src="/script/alert.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/nav :: nav}"> </div>

<main>
    <div id="tablelist">
        <div class="table-name">
            <h2>Routine Assignment</h2>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>LastDate</th>
                    <th>Officer Assigned</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="assignList">

                </tbody>
            </table>
        </div>
    </div>

    <div id="assignment">
        <div class="table-container">
            <table>
                <tr>
                    <th class="assign-head">Inspection ID</th>
                    <td id="RoutInspIdSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Taluk</th>
                    <td id="RoutTalukSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Department</th>
                    <td id="RoutDepartmentSing"></td>
                </tr>
                <tr>
                    <th class="assign-head">Description</th>
                    <td id="RoutDescriptionSing"></td>
                </tr>
            </table>
        </div>
        <div class="grid">
            <div class="wrapper">
                <select  id="officerDrop" ></select>
            </div>
            <div class="wrapper" >
                <input type="date" id="RoutlastDate" >
                <label>Due date</label>
            </div>
        </div>
        <div class="btn">
            <button class="submit-btn" onclick="updateRoutAssignment()">Assign</button>
            <button class="cancel-btn">Cancel</button>
        </div>
        <div class="alert-container" id="alertContainer">
            <div class="alert-message">
                Added Data Successfully!
                <button class="alert-button-ok" onclick="hideAlert()">OK</button>
                <button class="alert-button-cancel" onclick="hideAlert()">Cancel</button>
            </div>
        </div>
    </div>
</main>

<script>

    $(document).ready(function() {

    <!--        Officer dropdown list start-->

       $.ajax({
           contentType: "application/json;charset=UTF-8",
           type: "GET",
           url: "/api/officer/getAllOfficer",
           dataType: "json",
           async:false,
           success: function (officerData) {
               var s = '<option value="-1">Select Officer</option>';
               for (var i = 0; i < officerData.length; i++) {
                   s += '<option value="' + officerData[i].officerName + '">' + officerData[i].officerName + '</option>';
               }
               $("#officerDrop").html(s); // Updated ID here
           }
        });


    <!--        Officer dropdown list end-->


        $("#tablelist").show();
        $("#assignment").hide();

        var assignList="";
        $.ajax({
            contentType: "application/json;charset=UTF-8",
            url: "/api/routinsp/getAllRoutInsp",
            dataType: "json",
            type: "GET",
            async:false,
            success:function(data){
               for(i=0;i<data.length;i++){
               assignList += '<tr id="' + data[i].routinspId + '">'; // Add ID attribute
               assignList=assignList+' <td>'+data[i].routdepartment +'</td>';

               assignList=assignList+' <td>'+data[i].designation +'</td>';

               if(data[i].routlastDate==null)
               {
               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getProfile(\''+data[i].routinspId+'\')" title="Assign">';
               assignList=assignList+'<p style="font-size:15px;">Not assigned</p>';
               }
               else{
               assignList=assignList+' <td>'+data[i].routlastDate +'</td>'

               }

               if(data[i].routassignedOfficer==null)
               {
               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getroutInsp(\''+data[i].routinspId+'\')" title="Assign">';
               assignList=assignList+'<button class="btn" id="tablelist">Assign</button></a>';
               }
               else{
                assignList=assignList+' <td>'+data[i].routassignedOfficer +'</td>';

               }
               assignList=assignList+' <td>';
               assignList=assignList+'<a href="javascript:getProfile(\''+data[i].routinspId+'\')" title="Edit">';
               assignList=assignList+'<i>&#9997;&#xFE0E;</i> </a>';
               assignList=assignList+'<a href="javascript:deleteRoutInsp(\''+data[i].routinspId+'\')" title="Delete">';
               assignList=assignList+'<i>&#x1F441;</i> </a>';
               assignList=assignList+'</td></tr>';

               }
                $("#assignList").html(assignList);
            }
        });
      });


<!--        function saveRoutAssignment(){-->

<!--                        var userData={-->


<!--                        routinspId:$("#RoutInspIdSing").val(),-->
<!--                        routassignedOfficer:$("#officerDrop").val(),-->
<!--                        routlastDate:$("#RoutlastDate").val(),-->
<!--                        routtaluk:$("#RoutTalukSing").val(),-->
<!--                        routdepartment:$("#RoutDepartmentSing").val(),-->
<!--                        routdescription:$("#DescriptionSing").val(),-->


<!--                    }-->

<!--                        $.ajax({-->
<!--                        contentType: "application/json;charset=UTF-8",-->
<!--                        url: "/api/routinsp/save",-->
<!--                        dataType: "json",-->
<!--                        type: "POST",-->
<!--                        cache: !1,-->
<!--                        processData: !1,-->
<!--                        data: JSON.stringify(userData),-->
<!--                        complete:function(xhr) {-->
<!--                        console.log(data)-->

<!--                        }-->
<!--                 });-->
<!--                 showAlert()-->
<!--      }-->

     function updateRoutAssignment() {
        var routinspId = $("#RoutInspIdSing").text(); // Get the RoutInspId from the displayed table
        var routassignedOfficer = $("#officerDrop").val();
        var routlastDate = $("#RoutlastDate").val();
        var routdepartment = $("#RoutDepartmentSing").text();
        var routtaluk = $("#RoutTalukSing").text();

        if (routassignedOfficer && routlastDate) {
            var userData = {
                routassignedOfficer: routassignedOfficer,
                routlastDate: routlastDate,
                routdepartment: routdepartment,
                routtaluk: routtaluk,
            };

            $.ajax({
                contentType: "application/json;charset=UTF-8",
                url: "/api/routinsp/update/" + routinspId, // Use the update endpoint with the RoutInspId
                dataType: "json",
                type: "PUT", // Use PUT method for update
                data: JSON.stringify(userData),
                success: function (data) {
                    // Update the displayed table with the updated data
                    $("#routassignedOfficerCell").text(data.routassignedOfficer);
                    $("#routlastDateCell").text(data.routlastDate);
                    $("#routdepartmentCell").text(data.routdepartment);
                    $("#routtalukCell").text(data.routtaluk);

                    showAlert();
                },
                error: function (xhr, status, error) {
                    alert("Failed to update: " + error);
                },
            });
        } else {
            alert("Please fill all the required fields");
        }
    }


        function getroutInspId(id){
                 $.ajax({
                       contentType: "application/json;charset=UTF-8",
                       url: "${pageContext.request.contextPath}api/routinsp/getById/" + id,
                       dataType: "json",
                       type: "GET",
                       success:function(data){
                          getProfile(data)

                       }
                  });
            }


        function getroutInsp(id) {
            $("#tablelist").hide();
            $("#assignment").show();

            $.ajax({
                contentType: "application/json;charset=UTF-8",
                url: "/api/routinsp/getById/" + id,
                dataType: "json",
                type: "GET",
                cache: !1,
                processData: !1,
                success: function(data) {

                    $("#RoutInspIdSing").text(data.routinspId);
                    $("#RoutDepartmentSing").text(data.routdepartment);
                    $("#RoutDescriptionSing").text(data.routdescription);
                    $("#RoutLastDateSing").text(data.routlastDate);
                    $("#RoutroutassignedOfficerSing").text(data.routassignedOfficer);
                    $("#RoutDistrictSing").text(data.district);
                    $("#RoutTalukSing").text(data.routtaluk);

                    var descriptionHtml = '';
                    for (var i = 0; i < data.routdescription.length; i++) {
                        descriptionHtml += data.routdescription[i].routInspContent + '<br>';
                    }
                    $("#RoutDescriptionSing").html(descriptionHtml);

                }
            });
        }

         function deleteRoutInsp(id) {
            if (confirm("Are you sure you want to delete this inspection?")) {
                $.ajax({
                    contentType: "application/json;charset=UTF-8",
                    url: "/api/routinsp/delete/" + id, // Use the delete endpoint with the InspId
                    type: "DELETE",
                    success: function () {
                        // Remove the deleted row from the displayed table
                        $("#" + id).remove();
                        alert("Inspection deleted successfully.");
                    },
                    error: function (xhr, status, error) {
                        alert("Failed to delete inspection: " + error);
                    },
                });
            }
        }

<!--            $.ajax({-->
<!--            contentType: "application/json;charset=UTF-8",-->
<!--            url: "/api/taluk/getAllTaluk",-->
<!--            dataType: "json",-->
<!--            type: "GET",-->
<!--            success: function(data) {-->

<!--                $("#RoutDistrictSing").text(data.district);-->
<!--            }-->
<!--        });-->

</script>
</body>
</html>